<form action="/user/<%= user._id %>" method="POST">
  <div class="">
    <label for="edit-username">Username</label>
    <input type="text" name="username" id="edit-username">
  </div>

  <button type="submit">Save Changes</button>
</form>
