<h2>Viewing Profile</h2>

<b>Username: </b><%= user.username %> <br>
<b>Role: </b><%= user.role %>

<% if (visiting == session) { %>
  <a href="/user/<%= session %>/edit"><button type="button">Edit Profile</button></a>
<% } %>
